---
import { SEO } from 'astro-seo';
import { getCollection } from 'astro:content';

import { Hero } from '@/components/Hero';
import Card from '../components/Card.astro';
import Container from '../components/Container';
import { type NavigationItems } from '../components/Navigation';
import Sponsor from '../components/Sponsor.tsx';
import Layout from '../layouts/Layout.astro';

const allCategories = await getCollection('categories');

const navCategories: NavigationItems = [
  {
    title: 'Categories',
    links: allCategories.map((category) => ({
      title: category.data.name,
      href: `/categories/${category.slug}`,
    })),
  },
];
---

<Layout categories={navCategories} title="Tools for working with OpenAPI">
  <SEO title="Categories" />

  <div class="flex flex-col gap-8">
    <header class="text-black">
      <h1 class="text-6xl font-black">Tools for working with OpenAPI</h1>
      <p>
        Stay up to date with a community-driven list of high-quality, modern
        tools for OpenAPI. An open source project from <a
          href="https://apisyouwonthate.com"
          target="_blank"
        >
          APIs You Won't Hate</a
        >.
      </p>

      <p class="text-md">
        Is there a tool missing that you think should be on the list? Submit a
        Pull Request on <a
          href="https://github.com/apisyouwonthate/openapi.tools"
          >GitHub apisyouwonthate/openapi.tools</a
        >.
      </p>
    </header>
  </div>

  {/* sponsor is a react component. Neat! */}
  <Sponsor />

  <main>
    <header class="mb-8">
      <h2 class="text-4xl font-bold">Tool Types</h2>
      <p class="text-lg">
        We've organized everything into categories so you can jump to the
        section you're interested in.
      </p>
    </header>
    <ul class="grid grid-cols-3 gap-8">
      {
        allCategories.map((category) => (
          <Card
            href={`/categories/${category.slug}`}
            title={category.data.name}
            body={category.data.description}
          />
        ))
      }
    </ul>
  </main>
</Layout>
